@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #eceff1;
}
.container{
    position: absolute;
    left:50%;
    right: 50%;
    transform: translate(-50%,50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 460px;
    height: 600px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
}
h1{

    margin: 12px 0;
}
.add-element{
    margin: 12px 0;
}
input{
    padding: 6px 4px;
    border-radius: 5px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #00b0ff;
    border:none;
    border-radius: 4px;
    color: #fafafa;
}
.element-list{
    height: 550px;
    overflow-y: auto;
}
ul{
    padding: 15px;
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 3px;
    transition: .4s;
}
button:hover{
    background-color: #1565c0;
}
li:hover{
    background-color: #e0e0e0;
}
.checked{
    text-decoration: line-through;
    background-color: #e0e0e0;
}